{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {% if form.vars.errors|length > 0 %}
        <ul>
            {% for error in form.vars.errors %}
                <li>{{ error.message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        {{ form_row(form.confirmPassword) }}
        <button class="btn btn-primary" type="submit" style="margin-top: 20px">Créer un compte</button>
    {{ form_end(form) }}
{% endblock %}
